@use "../../../styles/index.scss" as *;

.logo {
  width: 74px;
  height: 1.5rem;
  display: block;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    $blue-color 0%,
    $pink-color 56%,
    $orange-color 100%
  );
  @media (min-width: 1024px) {
    width: 60%;
  }
}
