@use "../../../styles/index.scss" as *;

.logo {
  width: 60%;
  height: 1.5rem;
  display: block;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    $blue-color 0%,
    $pink-color 56%,
    $orange-color 100%
  );
}
