@use "../../../styles/index.scss" as *;

.dashboard {
  background-color: $gray-2-color;
  margin-right: 1.3rem;
  margin-left: 1.3rem;
  padding: 1rem;
  .section {
    margin-bottom: 2.5rem;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  .sectionHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    .sectionBtn {
      background: none;
      border: none;
      margin-left: auto;
      float: right;
      cursor: pointer;
    }
  }
  .threeColumns {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(clamp(12rem, 20%, 18rem), 1fr)
    );
    gap: 1.5rem;
  }
}
