@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

$green-color: #4ac29d;
$orange-color: #ff9f00;
$pink-color: #ff6860;
$blue-color: #689ff8;
$gray-color: #858a9d;
$gray-2-color: #f5f6fc;
$gray-3-color: #464c61;
$gray-4-color: #e0e7f1;
$white-color: #ffffff;

$font-primary: "Roboto", sans-serif;
$primary-color: #343951;
$line-height-base: 1.2;
