.homepage {
  .layout {
    display: grid;
    grid-template-columns: 15% 60% 25%;
    grid-template-rows: auto;
    min-height: 100vh;
  }
}

@media (max-width: 640px) {
  .homepage {
    .layout {
      grid-template-columns: 1fr;
    }

    .layout > :first-child,
    .layout > :last-child {
      display: none;
    }
  }
}
