@use "../../../styles/index.scss" as *;

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 1.75rem;
  background-color: $primary-color;
  color: $gray-color;
  .nav {
    margin-top: 4.13rem;
  }
  .divider {
    height: 1px;
    background-color: $gray-4-color;
  }
  .createNew {
    margin-top: auto;
  }
  @media (max-width: 991px) {
    height: 100%;
  }
}
